*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body
{
  font-family: 'Poppins', sans-serif;
  background: #000;
}


header
{
  display: flex;
  justify-content: center;
  width: 90%;
  margin: auto;
  /* background: green; */
}

header p
{
  font-weight: bold;
  padding: 30px;
  font-size: 3em;
  color: #fff;
}

main, .descriptionCon
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: auto;
  /* background: red; */
}

.descriptionCon
{
  margin-top: 20px;
}

.imageCon
{
  display: flex;
  /* background: red; */
  width: 90%;
  margin: auto;
  justify-content: space-around;
}

p.memberName
{
  font-size: 2em;
  font-weight: bold;
  color: #fff;
}

p.memberBio
{
  font-size: 1em;
  color: #fff;
}
